
.members{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.member{
    display: flex;
    gap:15px;
}

#about-us-content{
    height: auto;
    background-color: #c6e3ff;

}


.profile img{
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  
}

.profile{
    display: flex;
    align-items: center;
    
}


.member{
    background-color: aliceblue;
    /* word-break: keep-all; */
    padding: 20px 15px;
    border-radius: 20px;
    font-family: "Nanumsquareround";
}

.member-name{
    font-size: 18px;
}

.member-intro{
    font-size: 15px;
    margin-bottom: 10px;
}



.contact{
    display: flex;
    flex-direction: column;
    gap: 7px;
}


.credit-container{
    font-size: 13px;
    line-height: 1.1;
}

.credit-container span{
    font-size: 15px;
    
    font-family: "Nanumsquareround";
}