.footer{
    display: flex;
    padding-top: 30px;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: flex-end;
    /* align-items: center; */
    font-size: 11px;
    font-family: "Nanumsquareround";
    gap: 0px;
    color: #6b7280;
    background-color: none;
  
}